.title {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 5em;
    text-shadow: 3px 5px #000;
}

.container_todo {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    min-width: 35%;
    max-width: max-content;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);  
}

ul {
    width: 100%;
    overflow: scroll;
    max-height: 50vh;
}

.inputToDo {
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
    border: 1px solid grey;
    background-color: #DCF5E6;
    margin-bottom: 15px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.divButtonSwitch {
    display: flex;
    justify-content: center;
    
}

.btnSwitch {
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: #ce774a;
    margin-top: 2vw;
    width: 25%;
    height: 50px;
}

.btnCheck, .btnRemover {
    color: grey;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

ul {
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #DCF5E6;
    border-radius: 10px;
}
  
li {
    padding: 15px;
    margin: 10px;
    margin-left: 20px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
  
li>button {
    border: none;
    background-color: #DCF5E6;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
}
  
li>button:hover {
    opacity: 1;
    transition: opacity 1s;
}

.smallNone {
    width: 100%;
    margin: 30px;
    text-align: center;
    font-size: 16px;
}

.btnSubmit {
    margin: 0 auto;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: #ce774a;
    margin-top: 2vw;
    width: 40%;
    height: 50px;
    margin-bottom: 20px;
}

.container_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tittleAdd {
    font-weight: 300;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 3.5em;
    }

    .btnSwitch {
        margin-top: 40px;
        width: 70%;
    }
  }